:root {
    --step-size: 44px;  
    --step-color: #f9dd65;
    --step-border: 2px;
    --step-icon-text-color: #f68f38;
    --step-active-title-color: #f68f38;
    --step-title-color: #5f9bdf;
    --step-title-line-ht: 24px;    
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.primary-bg-color {
    background-color: #145e73;
}

#page-header {
    background-color: #145e73;
    min-height:100px;
}

#content header {
    display: none;
}

/** Step Tracker */
/* Baseline Styles */
.step-tracker {
    margin: 16px auto;

    font-size: 12px;
    font-family: sans-serif;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    min-width: 280px;
    max-width: 960px;
}

.step-tracker .step {
    flex: 1 1 calc(var(--step-size) * 3);
    position: relative;
    overflow: hidden;

    animation: slideIn 500ms;
}

.step-tracker .step__title {
    color: var(--step-title-color);
    text-align: center;
    line-height: var(--step-title-line-ht);
}

.step-tracker .step__icon {
    position: relative;
    color: var(--step-icon-text-color);
    border: var(--step-border) solid var(--step-color);
    width: var(--step-size);
    height: var(--step-size);
    border-radius: var(--step-size);
    margin: 0 auto;
    background-color: white;
    z-index: 2;
    line-height: var(--step-size);
    font-size: 24px;
    text-align: center;
    transition: all 500ms;
}

/* Connectors */
.step-tracker .step .step__icon:before,
.step-tracker .step .step__icon:after {
    position: absolute;
    content: " ";
    display: block;
    z-index: 1;
    width: 1000%;
    height: 2px;
    background-color: var(--step-color);
    top: calc(50% - 2px);
    left: calc(var(--step-size));
}

.step-tracker .step.row-end .step__icon:after,
.step-tracker .step.row-start.row-end .step__icon:before,
.step-tracker .step.row-start.row-end .step__icon:after {
    display: none;
}

.step-tracker .step:not(.row-start) .step__icon:before {
    left: calc(-1 * var(--step-size) * 10);
}

/* Hover State */
.step-tracker .step:hover .step__icon {
    cursor: pointer;
    background-color: var(--step-color);
}

/* Completed State */
.step-tracker .step.complete .step__icon {
    background-color: var(--step-color);
}

.step-tracker .step.active .step__title {
    color: var(--step-active-title-color);
}

/* Active State */
.step-tracker .step.active .step__title {
    color: var(--step-active-title-color);
}

/* Demo Controls */
#controls {
    border-top: 1px dashed #9f9f9f;
    min-width: 280px;
    max-width: 960px;
    margin: 180px auto 0;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#controls > * {
    font-weight: 100;
    margin: 8px 0;
}

@media screen and (min-width: 769px) {
    .step-tracker {
        margin: 36px auto;
    }

    /* .step-tracker .step__icon {
        width: var(--step-size) * 2;
        height: var(--step-size) * 2;
    } */
}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
